  <div class="flex transition-all duration-300 flex-col cursor-pointer justify-between w-full h-full
   bg-white dark:bg-gray-800 shadow-lg rounded-lg
    hover:scale-105 hover:shadow-lg">
    <a>
      <img src="{{course.courseUrlImage}}" class="rounded-t-lg w-full max-h-48 object-cover object-center" alt="Data Science">
    </a>
    <div class="p-4 flex-grow bg-gray-800">
      <h5 class="mb-2 text-xl font-bold tracking-tight text-white dark:text-white">{{course.courseName}}</h5>
      <p class="text-sm text-white mb-4">Instructor: {{course.instructorName}}</p>
      <p class="text-lg font-semibold text-green-600 mb-4">
        {{course.price| currency:'USD' }} </p>
      <div class="flex items-center space-x-1 mb-4">
        <span class="text-yellow-500">★</span>
        <span class="text-yellow-500">★</span>
        <span class="text-yellow-500">★</span>
        <span class="text-yellow-500">★</span>
        <span class="text-gray-300">★</span>
      </div>
      <button (click)="onExplore()"  class="bg-gray-500 w-full hover:bg-gray-700 mt-auto text-white font-bold py-2 px-4 rounded">
        Explore
      </button>
    </div>
  </div>
