<div class="flex flex-col items-center justify-center max-w-full mb-2">
  <h1 class="text-2xl font-semibold">Manage Courses</h1>
  <div class="flex justify-end w-full mt-2">
    <!-- Dynamic Button: Add Course or Go Back to Courses -->
    <button
      [routerLink]="isManageCourseRoute ? ['/dashboard/instructor-courses/course-list'] : ['/dashboard/instructor-courses/manage-course']"
      class="bg-gray-800 flex items-center gap-3 hover:border-gray-500 cursor-pointer text-white font-bold py-2 px-4 rounded">
      <i class="pi" [ngClass]="isManageCourseRoute ? 'pi-arrow-left' : 'pi-plus'"></i>
      <span>{{ buttonText }}</span>
    </button>
  </div>
</div>

<router-outlet></router-outlet>
