<app-notifications [show]="loginSuccess" [message]="loginMessage" [type]="'success'"
                   (close)="loginSuccess = false"></app-notifications>
<app-notifications [show]="loginError" [message]="loginMessage" [type]="'error'"
                   (close)="loginError = false"></app-notifications>
<div class="flex justify-center items-center min-h-screen bg-gray-300 p-4 sm:p-6">
  <div class="bg-white shadow-lg rounded-lg p-6 sm:p-8 w-full max-w-lg sm:max-w-md m-6 sm:m-10">
    <div class="flex justify-center mb-4">
      <img src="skillverse.png" alt="Logo" class="h-16">
    </div>
    <h2 class="text-center text-2xl font-semibold mb-6">Login</h2>
    <form #loginForm="ngForm" (ngSubmit)="onLogin()" class="space-y-6">
      <div class="relative flex items-center mb-3">
        <i class="pi pi-envelope absolute right-3 text-gray-800"></i>
        <input type="email" placeholder="Email" name="email" [(ngModel)]="loginData.email" required
               class="px-3 py-3 bg-gray-300 text-black w-full text-sm border rounded focus:border-[#6f42c1] outline-none"
               aria-label="Email" />
      </div>
        <div *ngIf="loginForm.submitted && loginForm.controls['email']?.errors?.['required']"
             class="text-red-500 text-xs ml-2">Email is required
        </div>
      <div class="relative flex items-center mb-3">
        <i class="pi pi-lock absolute right-3 text-gray-700 cursor-pointer"></i>
        <input type="password" placeholder="Password" name="password" [(ngModel)]="loginData.password" required
               class="px-3 py-3 bg-gray-300 text-black w-full text-sm border rounded focus:border-[#6f42c1] outline-none"
               aria-label="Password" />
      </div>
        <div *ngIf="loginForm.submitted && loginForm.controls['password']?.errors?.['required']" class="text-red-500 text-xs ml-2">Password is required</div>
      <button type="submit" [disabled]="loading || !loginForm.valid"
              class="mt-6 px-6 py-2.5 w-full text-sm bg-[#6f42c1] text-white hover:bg-[#5a3794] rounded-md">
        <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Login
      </button>
    </form>
    <div class="mt-4 text-center">
      <p class="text-sm">
        Don't have an account?
        <a routerLink="/register" class="text-[#6f42c1] hover:underline">Register</a>
      </p>
    </div>

    <div class="mt-4 text-center">
      <p class="text-sm">
        Want to explore courses?
        <a routerLink="/courses" class="text-[#6f42c1] hover:underline">Go to All Courses</a>
      </p>
    </div>
  </div>
</div>
