<nav aria-label="Page Navigation" class="flex justify-center my-4">
  <ul class="flex items-center space-x-2">
    <!-- First Page -->
    <li>
      <button
        title="First Page"
        (click)="goToFirstPage()"
        disabled="currentPage === 0"
        class="p-2 rounded-md border bg-white text-gray-700 hover:bg-gray-200 disabled:opacity-50"
      >
        <i class="pi pi-arrow-left"></i>
      </button>
    </li>

    <!-- Previous Page -->
    <li>
      <button
        title="Previous Page"
        (click)="goToPreviousPage()"
        :disabled="currentPage === 0"
        class="p-2 rounded-md border bg-white text-gray-700 hover:bg-gray-200 disabled:opacity-50"
      >
        <i class="pi pi-chevron-left"></i>
      </button>
    </li>

    <!-- Page Indicator -->
    <li>
      <span class="px-4 py-2 text-gray-700 bg-gray-100 rounded-md">
        Page {{ currentPage + 1 }} of {{ totalPages }}
      </span>
    </li>

    <!-- Next Page -->
    <li>
      <button
        title="Next Page"
        (click)="goToNextPage()"
        disabled="currentPage === totalPages - 1"
        class="p-2 rounded-md border bg-white text-gray-700 hover:bg-gray-200 disabled:opacity-50"
      >
        <i class="pi pi-arrow-right"></i>
      </button>
    </li>

    <!-- Last Page -->
    <li>
      <button
        title="Last Page"
        (click)="goToLastPage()"
        disabled="currentPage === totalPages - 1"
        class="p-2 rounded-md border bg-white text-gray-700 hover:bg-gray-200 disabled:opacity-50"
      >
        <i class="pi pi-arrow-right-arrow-left"></i>
      </button>
    </li>
  </ul>
</nav>
