<div class="bg-white  p-4">
  <div class="flex items-center justify-between my-1">
    <div class="flex items-center gap-2">
      <i class="pi pi-search"></i>
      <input type="text" placeholder="Search" class="px-4 py-2 bg-gray-100 w-72 text-gray-800 text-sm border-2 border-solid border-gray-300 focus:bg-transparent rounded-lg" />
    </div>
    <div class="flex items-center gap-2">
      <label for="sort" class="text-gray-800 text-sm font-semibold">Sort By</label>
      <select id="sort" class="px-4 py-2 bg-gray-100 text-gray-800 text-sm border-2 border-solid border-gray-300 focus:bg-transparent rounded-lg">
        <option value="newest">Newest</option>
        <option value="oldest">Oldest</option>
      </select>
    </div>
  </div>
  <div class="font-serif overflow-x-auto">
    <table class="min-w-full bg-white">
      <thead class="bg-gray-800 whitespace-nowrap">
      <tr >
        <th class="text-left py-2 px-4 font-semibold text-sm text-gray-100">Course Image</th>
        <th class="text-left py-2 px-4 font-semibold text-sm text-gray-100">Course Name</th>
        <th class="text-left py-2 px-4 font-semibold text-sm text-gray-100">Category</th>
        <th class="text-left py-2 px-4 font-semibold text-sm text-gray-100">Price ($)</th>
        <th class="text-left py-2 px-4 font-semibold text-sm text-gray-100">Actions</th>
      </tr>
      </thead>
      <tbody class="whitespace-nowrap">
      <tr *ngFor="let course of courses.content" class="hover:bg-gray-100 transition duration-200">
        <td class="py-3 px-4 border-b border-gray-200">
          <img [src]="course.courseImageUrl" alt="Course Image" class="w-16 h-16 object-cover object-center rounded-lg" />
        </td>
        <td class="py-3 px-4 border-b border-gray-200 hover:underline cursor-pointer">
          {{ course.courseName }}
        </td>
        <td class="py-3 px-4 border-b border-gray-200">{{ course.category }}</td>
        <td class="py-3 px-4 border-b border-gray-200">{{ course.price | currency: 'USD' }}</td>
        <td class="px-4 gap-2 border-b border-gray-200">
          <div class="flex items-center gap-2">
            <i (click)="navigateToManageCourse(course)" class="pi pi-pencil text-blue-500 cursor-pointer text-xl hover:scale-110 transition-transform" title="Edit"></i>
            <i (click)="navigateToCourseSections(course)" class="pi pi-ellipsis-v text-red-500 cursor-pointer text-xl hover:scale-110 transition-transform" title="View Sections"></i>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <app-pagination
    [currentPage]="page"
    [totalPages]="totalPages()"
    (pageChange)="onPageChange($event)">
  </app-pagination>
</div>
