<div class="bg-white p-6 rounded-lg shadow-md">
  <div class="flex flex-col sm:flex-row items-center justify-between mb-4 gap-4">
    <div class="flex items-center gap-2 w-full sm:w-auto">
      <i class="pi pi-search text-gray-500"></i>
      <input
        type="text"
        placeholder="Search courses..."
        class="w-full sm:w-72 px-4 py-2 bg-gray-100 text-gray-800 text-sm border border-gray-300 rounded-lg focus:outline-none focus:ring focus:ring-blue-300"
      />
    </div>
    <div class="flex items-center gap-2">
      <label for="sort" class="text-gray-800 text-sm font-semibold">Sort By:</label>
      <select
        id="sort"
        class="px-4 py-2 bg-gray-100 text-gray-800 text-sm border border-gray-300 rounded-lg focus:outline-none focus:ring focus:ring-blue-300"
      >
        <option value="newest">Newest</option>
        <option value="oldest">Oldest</option>
      </select>
    </div>
  </div>

  <div class="overflow-x-auto rounded-lg">
    <table *ngIf="courses.content && courses.content.length > 0; else noCoursesSection"
      class="min-w-full bg-white border border-gray-200 rounded-lg shadow-md">
      <thead class="bg-gray-800 text-white text-sm uppercase tracking-wide">
      <tr>
        <th class="text-left py-3 px-4">Course Image</th>
        <th class="text-left py-3 px-4">Course Name</th>
        <th class="text-left py-3 px-4">Category</th>
        <th class="text-left py-3 px-4">Price ($)</th>
        <th class="text-left py-3 px-4">Actions</th>
      </tr>
      </thead>

      <tbody class="text-gray-700">
      <tr
        *ngFor="let course of courses.content"
        class="hover:bg-gray-100 transition duration-200"
      >
        <td class="py-3 px-4 border-b border-gray-200">
          <img
            [src]="course.courseImageUrl"
            alt="Course Image"
            class="w-16 h-16 object-cover rounded-lg shadow-sm border border-gray-300"
          />
        </td>
        <td class="py-3 px-4 border-b border-gray-200 font-medium hover:text-blue-500 hover:underline cursor-pointer">
          {{ course.courseName }}
        </td>
        <td class="py-3 px-4 border-b border-gray-200">
          {{ course.category }}
        </td>
        <td class="py-3 px-4 border-b border-gray-200 font-semibold">
          {{ course.price | currency: 'USD' }}
        </td>
        <td class="py-3 px-4 border-b border-gray-200">
          <div class="flex items-center gap-4">
            <i
              (click)="navigateToManageCourse(course)"
              class="pi pi-pencil text-blue-500 cursor-pointer text-lg hover:scale-110 transition-transform"
              title="Edit"
            ></i>
            <i
              (click)="navigateToCourseSections(course)"
              class="pi pi-ellipsis-v text-red-500 cursor-pointer text-lg hover:scale-110 transition-transform"
              title="View Sections"
            ></i>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <ng-template #noCoursesSection>
    <div class="flex flex-col items-center justify-center text-gray-600 mt-8">
      <i class="pi pi-exclamation-circle text-4xl"></i>
      <p class="text-lg font-semibold mt-2">No Courses added for this yet.</p>
      <button (click)="navigateToAddCourse()" class="mt-4 bg-gray-800 text-white px-4 py-2 rounded hover:bg-gray-600">
        <i class="pi pi-plus"></i> Add First Section
      </button>
    </div>
  </ng-template>
  <div class="mt-4 flex justify-center">
    <app-pagination *ngIf="courses.content && courses.content.length > 0"
      [currentPage]="page"
      [totalPages]="totalPages()"
      (pageChange)="onPageChange($event)">
    </app-pagination>
  </div>
</div>
