<app-navbar *ngIf="(userRole$ | async) === 'STUDENT'"></app-navbar>

<app-confirmation-dialog
  [isVisible]="isConfirmationDialogVisible"
  [title]="modalTitle"
  [message]="modalMessage"
  [iconClass]="modalIconClass"
  [confirmButtonText]="modalConfirmButtonText"
  [cancelButtonText]="modalCancelButtonText"
  (onConfirm)="onConfirmAction()"
  (onClose)="closeModal()"
  (onCancel)="closeModal()">
</app-confirmation-dialog>

<app-notifications
  [show]="notification.show"
  [message]="notification.message"
  [type]="notification.type"
  (close)="closeNotification()">
</app-notifications>

<div class="mx-auto px-6 py-6 min-h-screen">
  <h1 class="text-3xl font-bold text-gray-800 text-center mb-6">Manage Profile</h1>
  <!-- Profile Header -->
  <section class="bg-white shadow-lg rounded-lg p-6 max-w-4xl mx-auto">
    <div class="flex items-center space-x-6">
      <img [src]="userData.profilePicUrl ? userData.profilePicUrl : 'profilepic.svg'" alt="Profile Picture" class="w-24 h-24 rounded-full border-4 border-gray-300 shadow-md">
      <div>
        <h1 class="text-2xl font-bold text-gray-800">{{userData.firstName}} {{userData.lastName}}</h1>
        <p class="text-gray-500 flex items-center">
          <i class="pi pi-envelope mr-2"></i> {{userData.email}}
        </p>
      </div>
    </div>
  </section>

  <!-- Profile Form -->
  <section class="mt-6 bg-white shadow-lg rounded-lg p-6 max-w-4xl mx-auto">
    <form [formGroup]="profileForm" class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <div>
        <label class="text-gray-700 font-medium block mb-1">First Name</label>
        <input type="text" formControlName="firstName" [readOnly]="!isEditMode"
               class="w-full px-4 py-2 bg-gray-100 border border-gray-300 rounded-lg focus:outline-none focus:ring focus:ring-indigo-300">
      </div>
      <div>
        <label class="text-gray-700 font-medium block mb-1">Last Name</label>
        <input type="text" formControlName="lastName" [readOnly]="!isEditMode"
               class="w-full px-4 py-2 bg-gray-100 border border-gray-300 rounded-lg focus:outline-none focus:ring focus:ring-indigo-300">
      </div>
      <div>
        <label class="text-gray-700 font-medium block mb-1">Email</label>
        <input type="email" formControlName="email" [readOnly]="!isEditMode"
               class="w-full px-4 py-2 bg-gray-100 border border-gray-300 rounded-lg focus:outline-none focus:ring focus:ring-indigo-300">
      </div>
      <div *ngIf="isEditMode">
        <label class="text-gray-700 font-medium block mb-1">Password</label>
        <input type="password" formControlName="password" [readOnly]="!isEditMode"
               class="w-full px-4 py-2 bg-gray-100 border border-gray-300 rounded-lg focus:outline-none focus:ring focus:ring-indigo-300">
      </div>
      <div *ngIf="isEditMode">
        <label class="text-gray-700 font-medium block mb-1">Confirm Password</label>
        <input type="password" formControlName="confirmPassword" [readOnly]="!isEditMode"
               class="w-full px-4 py-2 bg-gray-100 border border-gray-300 rounded-lg focus:outline-none focus:ring focus:ring-indigo-300">
      </div>
      <div class="col-span-2">
        <label class="text-gray-700 font-medium block mb-1">Upload Profile Image</label>
        <div class="relative border border-gray-300 rounded-lg p-3 bg-gray-100 hover:bg-gray-200 cursor-pointer">
          <input type="file" (change)="getImagesUrl($event)" [readOnly]="!isEditMode"
                 class="absolute inset-0 w-full h-full opacity-0 cursor-pointer"
                 accept="image/*">
          <span class="text-gray-500">Choose a profile image</span>
        </div>
        <p *ngIf="profileImageFileName" class="text-sm text-gray-600 mt-2">
          Selected file: <span class="font-semibold">{{ profileImageFileName }}</span>
        </p>
      </div>
    </form>
    <div class="mt-6 flex justify-end space-x-4">
      <button class="bg-indigo-600 hover:bg-indigo-500 text-white font-semibold py-2 px-6 rounded-lg transition duration-300"
              (click)="isEditMode ? confirmAction() : toggleEditMode()">
        <i class="pi pi-pencil" *ngIf="!isEditMode"></i> {{ buttonText }}
      </button>
      <button *ngIf="isEditMode" class="bg-gray-500 hover:bg-gray-600 text-white font-semibold py-2 px-6 rounded-lg transition duration-300"
              (click)="toggleEditMode()">
        Cancel
      </button>
    </div>
  </section>
</div>
