<app-navbar></app-navbar>
<div class="bg-gray-100 dark:bg-gray-900 py-20">
  <div class="container mx-auto px-6 lg:px-12 flex flex-col lg:flex-row items-center gap-12">
    <div class="flex flex-col space-y-6 text-center lg:text-left">
      <h1 class="text-5xl font-bold text-gray-900 dark:text-white tracking-wide leading-tight">
        Learn Hands-On Skills with Top Courses
      </h1>
      <p class="text-lg text-gray-600">
        Explore a wide range of high-quality courses to boost your skills.
      </p>
      <button class="px-6 py-3  bg-gray-600 hover:bg-gray-800  text-white rounded-lg shadow-md transition">
        Explore Courses
      </button>
    </div>
    <div class="w-full lg:w-1/2">
      <img src="Happy-country-1200X300--2.avif" alt="Banner"
           class="w-full h-96 object-cover rounded-lg shadow-md">
    </div>
  </div>
</div>
<div class="container mx-auto px-6 lg:px-12 py-8 space-y-16 bg-slate-300">
  <div class="space-y-8">
    <div class="flex flex-wrap items-center justify-between">
      <h2 class="text-3xl font-semibold text-gray-900 tracking-wide">
        Explore Courses by Different Instructors
      </h2>
      <div class="relative">
        <div (click)="toggleDropdown('instructors')"
             class="border border-gray-400 px-4 py-2 rounded-lg cursor-pointer font-bold flex items-center gap-2 w-[220px] bg-white hover:bg-gray-100">
          Categories <i class="pi pi-chevron-down"></i>
        </div>
        <div *ngIf="isDropdownOpen === 'instructors'"
             class="absolute top-12 w-[220px] bg-white border border-gray-300 rounded-lg shadow-md p-2 transition-all transform scale-95 origin-top">
          <div *ngFor="let category of categoryResponse.content"
               class="cursor-pointer hover:bg-gray-200 px-4 py-2 rounded transition font-medium text-gray-700">
            {{ category.categoryName }}
          </div>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
      <app-courses-card
        *ngFor="let course of coursesResponse.content"
        [course]="course"
        (courseClick)="onCourseClick($event)"
        class="hover:shadow-xl transition-shadow duration-300"
      ></app-courses-card>
    </div>

    <app-pagination
      class="mt-2 flex justify-center"
      *ngIf="coursesResponse.content?.length"
      [currentPage]="page"
      [totalPages]="totalPages()"
      (pageChange)="onPageChange($event)">
    </app-pagination>
  </div>
  <div class="space-y-8">
    <div class="flex flex-wrap items-center justify-between">
      <h2 class="text-3xl font-semibold text-gray-900 tracking-wide">
        Explore Our Top Courses
      </h2>
      <div class="relative">
        <div (click)="toggleDropdown('topRated')"
             class="border border-gray-400 px-4 py-2 rounded-lg cursor-pointer font-bold flex items-center gap-2 w-[220px] bg-white hover:bg-gray-100">
          Categories <i class="pi pi-chevron-down"></i>
        </div>
        <div *ngIf="isDropdownOpen === 'topRated'"
             class="absolute top-12 w-[220px] bg-white border border-gray-300 rounded-lg shadow-md p-2 transition-all transform scale-95 origin-top">
          <div *ngFor="let category of categoryResponse.content"
               class="cursor-pointer hover:bg-gray-200 px-4 py-2 rounded transition font-medium text-gray-700">
            {{ category.categoryName }}
          </div>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
      <app-courses-card
        *ngFor="let course of ratedCoursesResponse.content"
        [course]="course"
        (courseClick)="onCourseClick($event)"
        [isRatedCourse]="true"
        class="relative hover:shadow-xl transition-shadow duration-300">
      </app-courses-card>
    </div>
    <app-pagination
      class="mt-2 flex justify-center"
      *ngIf="ratedCoursesResponse.content?.length"
      [currentPage]="page"
      [totalPages]="totalRatedCourse()"
      (pageChange)="onTopRatedPageChange($event)">
    </app-pagination>
  </div>
</div>
